/* // delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
  background: rgb(25, 200, 150);
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.circle {  
  display: inline-block;
  background: rgb(25, 200, 150);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  outline: none;
  cursor: pointer;

  transition: all .66s ease-out;
}
.circle:hover {
  background: rgb(25, 175, 125);
}

.selected {
  background: rgb(255, 255, 255);
  color: rgb(25, 200, 150);
  pointer-events: none;
}
