@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background:  rgb(200, 215, 225);
  color: rgb(255, 255, 255);
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  width: 14em;
  height: 9em;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
}
.card::before, .card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}
.card::before {
  border-width: 1.25em;
  border-right-color: rgb(130, 145, 165);
  border-top-color: rgb(130, 145, 165);
  border-top-right-radius: 5px;
}

.pg-number {
  position: absolute;
  top: 0;
  right: 0;
  margin: .2em .5em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: .9rem;
}

.btn {
  position: absolute;
  bottom: 0px;
  height: 25%;
  width: 100%;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(50, 175, 255);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
