/* // delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(0, 0, 0);
  background-image: url("https://raw.githubusercontent.com/Haloren/CSS-100Days/main/073/images/stars.jpg");
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8000px;
}

.planetTitle {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  animation: glow 2s ease-in-out infinite alternate;
}

.planetImage {
  border-radius: 10px 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.fade {
  animation: fade 3s ease-in-out;
}
@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}