/* // delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
	box-shadow: 0 0 40px 20px rgba(0,0,0,0.5);
	overflow: hidden;
  background: rgb(0, 0, 0);
  background-image: url("https://raw.githubusercontent.com/Haloren/CSS-100Days/main/059/Terra.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(245, 250, 255);
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
  color: rgb(245, 250, 255);
}
.text-top {
  font-size: 4rem;
  margin: -10px;
  transition: transform 2s, opacity 2s;
}
  div:hover .text-top {
    opacity: 0;
    transform: translateX(-25%);
  }
.text-bot {
  font-size: 2.5rem;
  margin: -10px;
  transition: transform 2s, opacity 2s;
}
  div:hover .text-bot {
    opacity: 0;
    transform: translateX(10%);
  }

.moon {
  background: url("https://raw.githubusercontent.com/Haloren/CSS-100Days/main/059/Moon.png");
  background-size: 98%;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 3s, opacity 2s;
  opacity: 0;
  height: 100%;
  width: 100%;
}
div:hover .moon {
  transform: translateY(0);
  opacity: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
  width: 100%;
}
.odd {
  transform: translateY(-25%);
}
.even {
  transform: translateY(25%);
}
.col-1 {
  grid-column: 1/2;
  background-position: 0%;
}
.col-2 {
  grid-column: 2/3;
  background-position: 12.5%;
}
.col-3 {
  grid-column: 3/4;
  background-position: 25%;
}
.col-4 {
  grid-column: 4/5;
  background-position: 37.5%;
}
.col-5 {
  grid-column: 5/6;
  background-position: 50%;
}
.col-6 {
  grid-column: 6/7;
  background-position: 62.5%;
}
.col-7 {
  grid-column: 7/8;
  background-position: 75%;
}
.col-8 {
  grid-column: 8/9;
  background-position: 100%;
}