 /* delete the following line if no text is used */
 /* edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

 /* use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: linear-gradient(45deg, rgb(60, 145, 175) 0%, rgb(90, 160, 90) 100%);
  color: #333;
	font-family: 'Arial', 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 300px;
  height: 250px;

  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 50% 30%;
}
.title {
  grid-column: 1/4;
  grid-row: 1/1;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  align-self: center;
  text-align: center;
  padding: 5%;
  font: 1rem normal;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, .6);
}
.cloud-box {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%,-50%);
  grid-column: 2/2;
  grid-row: 2/2;
  border: 1px dashed rgba(0, 0, 0, .33);
  border-radius: 5px;
  color: rgba(0, 0, 0, .25);
  font-size: 3.5rem;
  width: 50%;
  margin: auto;
  transform: scale(-1, 1); /*Flip HTML cloud*/
  align-self: center;
  text-align: center;
}
.arrow-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}
.arrow-bottom {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(255, 255, 255);
  height: 15px;
  width: 6px;
}
.btn {
  grid-column: 2/2;
  grid-row: 3/3;
  background: rgb(110, 205, 60);
  color: rgba(255,255,255,0.8);
  font-size: .9rem;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 0px rgb(110, 110, 110);
  outline: none;
  width: 80%;
  margin: 0 0 5% 10%;
  align-self: center;
  }
  .btn:hover {
    cursor: pointer;
    box-shadow: 0px 2px 0px rgb(110, 110, 110), 0px 4px 20px rgb(110, 205, 60);
  }