* {
  box-sizing: border-box;
  background-color: rgb(50, 35, 125);
  color: rgb(250, 235, 215);
  text-transform: uppercase;
}
header {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}
body {
  text-align: center;
  padding: 1em;
  margin: auto;
}
.icon {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 10rem;
  font-size: 1rem;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  background: rgb(255,255,130);
  background: radial-gradient(circle, rgba(255,255,130,1) 33%, rgba(255,155,0,1) 100%);
  border-radius: 50%;
}
.cresent {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(50, 35, 125);
}
.rays {
  position: absolute;
  top: -1.75em;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 1em;
  margin-left: -0.2em;
  background: rgba(255,153,0,1);
  border-radius: 50%;
  box-shadow: 0 5em rgba(255,153,0,1);
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  width: 0.5em;
  height: 1em;
  transform: rotate(60deg);
  transform-origin: 50% 3em;
  background: rgba(255,153,0,1);
  border-radius: 50%;
  box-shadow: 0 5em rgba(255,153,0,1);
}
.rays::before {
  transform: rotate(120deg);
}

.cloud {

}

.rain, .lightning, .snow {
  position: absolute;
  background-color: rgb(50, 35, 125);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 60%;
  left: 40%;
}
.rain {

}
.lightning {

}
.snow {

}

/* DEFAULT/MIST */
.mist {
  position: absolute;
  top: 55%;
  left: 35%;
}
.mist:before {
  content: '';
  position: absolute;
  top: 0em;
  left: .75em;
  width: 5em;
  height: .25em;
  transform-origin: 50% 3em;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 1em rgb(255, 255, 255);
  animation: slide 4s infinite ease-out;
  animation-delay: 2s;
}
.mist::after {
  content: '';
  position: absolute;
  top: .5em;
  left: 1em;
  width: 5em;
  height: .25em;
  transform-origin: 50% 3em;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 1em rgb(255, 255, 255);
  animation: slide 4s infinite linear;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-transform: none;
}

.spin {
  animation: spin 34s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes slide {
  0% { transform: translateX(0em); }
  50% { transform: translateX(.6em); }
  100% { transform: translateX(0em); }
}