/* // delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(55, 75, 95);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}

.input-password {
  text-align: center;
  font-size: 1.3rem;
  width: 250px;
  height: 50px;
  border-radius: 25px 0 25px 0;
  border: none;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, .3);
}
.input-password:focus {
  outline: none;
}

.password-label {
  position: absolute;
  bottom: 50px;
  right: 1;
  color: white;
  opacity: 1;
  transition: opacity 1s;
}
input:not(:focus):valid ~ .password-label {
  opacity: 0;
}

.password-show {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  box-shadow: 0 1px rgba(0, 0, 0, .3);
}