/* // delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(250, 120, 120);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

h5 {
  font-size: 1rem;
}
h1 {
  margin: 0rem;
  font-size: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  height: 100%;
}

.date-container {
  display: grid;
  align-content: center;
  text-align: center;
  border: 6px solid rgb(250, 120, 120);

  transition: all .8s ease-in;
}
.date-container:hover {
  cursor: pointer;
  border: 6px solid rgb(50, 40, 30);
  box-shadow: inset 0 0 10px rgb(50, 40, 30);
}